html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #050406;
    color: #f6eaff;
    font-family: 'Crimson Text', serif;
    overflow-x: hidden;
}

/* Centrado global aesthetic */
.centrar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

/* Caja base */
.caja {
    width: 90%;
    max-width: 750px;
    padding: 35px;
    border-radius: 16px;
    position: relative;
    z-index: 10;
}
@keyframes caer {
    from { transform: translateY(-50px); }
    to { transform: translateY(110vh); }
}

@keyframes muerte {
    0% { opacity:1; transform:scale(1); }
    100% { opacity:0; transform:scale(0) rotate(40deg); }
}